#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1075px 1788px #fff, 1684px 958px #fff, 839px 1538px #fff,
        544px 763px #fff, 1577px 1141px #fff, 907px 50px #fff, 1010px 240px #fff,
        1802px 1049px #fff, 1679px 189px #fff, 507px 727px #fff, 821px 1237px #fff,
        1477px 664px #fff, 1002px 1158px #fff, 727px 1343px #fff, 284px 1587px #fff,
        291px 414px #fff, 85px 1463px #fff, 127px 1374px #fff, 1487px 107px #fff,
        1817px 1878px #fff, 1131px 1430px #fff, 310px 338px #fff, 1333px 1189px #fff,
        1523px 1468px #fff, 1500px 155px #fff, 1193px 1617px #fff, 233px 1399px #fff,
        384px 1190px #fff, 1566px 1618px #fff, 1167px 440px #fff, 140px 389px #fff,
        1109px 1317px #fff, 1268px 331px #fff, 1748px 266px #fff, 1493px 1941px #fff,
        1114px 368px #fff, 1315px 141px #fff, 290px 1529px #fff, 1537px 1517px #fff,
        1576px 139px #fff, 282px 831px #fff, 1693px 710px #fff, 1408px 1430px #fff,
        445px 1152px #fff, 428px 299px #fff, 1590px 1450px #fff, 1848px 1388px #fff,
        1737px 1686px #fff, 1979px 1166px #fff, 936px 1194px #fff, 1987px 440px #fff,
        1380px 25px #fff, 1569px 322px #fff, 1185px 718px #fff, 217px 1104px #fff,
        1079px 469px #fff, 1290px 1702px #fff, 170px 318px #fff, 48px 368px #fff,
        1707px 674px #fff, 1206px 582px #fff, 1125px 1945px #fff, 1600px 948px #fff,
        696px 1691px #fff, 739px 833px #fff, 117px 497px #fff, 1683px 1776px #fff,
        1890px 1627px #fff, 356px 1189px #fff, 1070px 1007px #fff, 1515px 964px #fff,
        1274px 29px #fff, 69px 1509px #fff, 962px 1372px #fff, 1823px 758px #fff,
        220px 201px #fff, 1766px 1960px #fff, 1492px 1920px #fff, 1533px 1493px #fff,
        1910px 1666px #fff, 1984px 1528px #fff, 80px 573px #fff, 5px 763px #fff,
        952px 908px #fff, 1382px 481px #fff, 1219px 119px #fff, 1321px 845px #fff,
        387px 75px #fff, 571px 657px #fff, 1228px 1899px #fff, 660px 1937px #fff,
        1408px 302px #fff, 1528px 1595px #fff, 1051px 1568px #fff, 610px 1731px #fff,
        1290px 1701px #fff, 1964px 1386px #fff, 1606px 1645px #fff, 626px 143px #fff,
        1432px 1494px #fff, 491px 243px #fff, 656px 1323px #fff, 1158px 31px #fff,
        1231px 1617px #fff, 64px 1014px #fff, 1835px 1198px #fff, 115px 1079px #fff,
        425px 826px #fff, 992px 1150px #fff, 875px 1812px #fff, 732px 1301px #fff,
        857px 436px #fff, 1060px 1588px #fff, 526px 691px #fff, 347px 1621px #fff,
        925px 794px #fff, 1970px 39px #fff, 1221px 167px #fff, 379px 1906px #fff,
        953px 1610px #fff, 1032px 1738px #fff, 626px 640px #fff, 1353px 1657px #fff,
        1296px 1738px #fff, 1620px 578px #fff, 811px 214px #fff, 1301px 24px #fff,
        1360px 846px #fff, 329px 1995px #fff, 1388px 1223px #fff, 1766px 1205px #fff,
        1271px 752px #fff, 1710px 227px #fff, 1980px 67px #fff, 873px 630px #fff,
        855px 555px #fff, 194px 1483px #fff, 1566px 1116px #fff, 595px 1734px #fff,
        1918px 1870px #fff, 826px 838px #fff, 329px 564px #fff, 421px 912px #fff,
        1068px 753px #fff, 7px 699px #fff, 1837px 157px #fff, 1437px 1442px #fff,
        1547px 107px #fff, 1763px 1352px #fff, 583px 320px #fff, 1554px 1377px #fff,
        549px 959px #fff, 1357px 218px #fff, 586px 404px #fff, 241px 915px #fff,
        597px 1669px #fff, 1008px 977px #fff, 776px 1476px #fff, 1529px 1990px #fff,
        182px 1095px #fff, 1386px 374px #fff, 1801px 551px #fff, 1573px 121px #fff,
        1312px 873px #fff, 677px 631px #fff, 546px 1964px #fff, 516px 344px #fff,
        2000px 1449px #fff, 1639px 1725px #fff, 1787px 1436px #fff, 495px 972px #fff,
        456px 492px #fff, 971px 1225px #fff, 1460px 1688px #fff, 1763px 675px #fff,
        645px 323px #fff, 658px 382px #fff, 935px 1697px #fff, 34px 801px #fff,
        1314px 1381px #fff, 1580px 757px #fff, 845px 1601px #fff, 13px 282px #fff,
        188px 434px #fff, 685px 1676px #fff, 224px 1599px #fff, 77px 1749px #fff,
        317px 349px #fff, 1190px 197px #fff, 736px 1795px #fff, 403px 1436px #fff,
        791px 911px #fff, 1966px 950px #fff, 950px 1369px #fff, 1170px 1821px #fff,
        200px 1316px #fff, 1021px 1705px #fff, 1938px 1663px #fff, 1968px 13px #fff,
        1983px 1125px #fff, 1107px 955px #fff, 1140px 1115px #fff, 562px 477px #fff,
        1096px 1156px #fff, 1875px 1417px #fff, 1547px 1794px #fff, 867px 440px #fff,
        1699px 487px #fff, 376px 1781px #fff, 737px 577px #fff, 438px 959px #fff,
        1564px 1515px #fff, 1591px 914px #fff, 1248px 17px #fff, 1695px 1674px #fff,
        1454px 1101px #fff, 1107px 1066px #fff, 1408px 1299px #fff,
        1726px 669px #fff, 424px 801px #fff, 1899px 1677px #fff, 1020px 526px #fff,
        1306px 121px #fff, 858px 136px #fff, 1503px 1693px #fff, 845px 525px #fff,
        1586px 425px #fff, 1195px 639px #fff, 291px 218px #fff, 206px 1740px #fff,
        643px 944px #fff, 1272px 743px #fff, 308px 205px #fff, 244px 388px #fff,
        625px 760px #fff, 279px 943px #fff, 1627px 1688px #fff, 1845px 1376px #fff,
        915px 1432px #fff, 1201px 1283px #fff, 1873px 955px #fff, 1877px 1037px #fff,
        1658px 810px #fff, 1867px 867px #fff, 58px 171px #fff, 855px 834px #fff,
        1928px 691px #fff, 907px 815px #fff, 1751px 246px #fff, 495px 300px #fff,
        1774px 1461px #fff, 1999px 949px #fff, 235px 442px #fff, 1712px 678px #fff,
        1764px 117px #fff, 1170px 779px #fff, 1879px 1048px #fff, 1612px 838px #fff,
        1102px 269px #fff, 235px 80px #fff, 727px 675px #fff, 1892px 1981px #fff,
        1799px 146px #fff, 160px 1559px #fff, 1719px 961px #fff, 458px 1683px #fff,
        582px 1689px #fff, 1447px 1105px #fff, 876px 1960px #fff, 141px 239px #fff,
        1382px 1035px #fff, 589px 1936px #fff, 186px 1661px #fff, 1553px 1982px #fff,
        307px 99px #fff, 829px 297px #fff, 933px 569px #fff, 1172px 1592px #fff,
        1169px 1004px #fff, 1517px 1213px #fff, 813px 1671px #fff, 1102px 152px #fff,
        1874px 1988px #fff, 778px 303px #fff, 382px 270px #fff, 796px 733px #fff,
        1169px 247px #fff, 1519px 1677px #fff, 1250px 1237px #fff,
        1383px 1516px #fff, 1397px 921px #fff, 856px 1414px #fff, 1856px 787px #fff,
        294px 1645px #fff, 793px 685px #fff, 608px 1641px #fff, 830px 1257px #fff,
        1460px 118px #fff, 1944px 1667px #fff, 1301px 774px #fff, 704px 74px #fff,
        579px 1925px #fff, 1422px 804px #fff, 1885px 1728px #fff, 167px 232px #fff,
        408px 1700px #fff, 198px 1100px #fff, 532px 1385px #fff, 252px 1522px #fff,
        974px 1385px #fff, 920px 999px #fff, 182px 1359px #fff, 477px 1344px #fff,
        746px 536px #fff, 304px 1127px #fff, 1815px 553px #fff, 611px 858px #fff,
        394px 669px #fff, 1004px 62px #fff, 1676px 1165px #fff, 1035px 690px #fff,
        366px 1122px #fff, 1116px 1314px #fff, 1950px 1899px #fff, 1272px 918px #fff,
        1869px 1451px #fff, 1952px 1174px #fff, 818px 263px #fff, 1515px 1810px #fff,
        540px 1095px #fff, 1507px 1120px #fff, 1559px 1822px #fff,
        1742px 1081px #fff, 1640px 351px #fff, 1483px 1484px #fff,
        1428px 1372px #fff, 1879px 623px #fff, 316px 1098px #fff, 875px 879px #fff,
        1032px 1861px #fff, 1134px 34px #fff, 752px 1284px #fff, 1598px 785px #fff,
        20px 1244px #fff, 1695px 352px #fff, 109px 733px #fff, 780px 1382px #fff,
        897px 1388px #fff, 253px 531px #fff, 486px 1916px #fff, 861px 1229px #fff,
        715px 456px #fff, 1156px 270px #fff, 1912px 1002px #fff, 1915px 89px #fff,
        1866px 834px #fff, 493px 1817px #fff, 430px 910px #fff, 1657px 512px #fff,
        1221px 1693px #fff, 620px 247px #fff, 299px 1413px #fff, 1532px 772px #fff,
        892px 344px #fff, 53px 845px #fff, 192px 1451px #fff, 383px 1455px #fff,
        6px 1302px #fff, 87px 804px #fff, 1130px 885px #fff, 1064px 1878px #fff,
        580px 1267px #fff, 1908px 1370px #fff, 1506px 1646px #fff, 1236px 206px #fff,
        352px 537px #fff, 214px 318px #fff, 1012px 27px #fff, 427px 1236px #fff,
        449px 343px #fff, 1704px 1795px #fff, 1143px 1213px #fff, 1433px 1456px #fff,
        1527px 1029px #fff, 1251px 763px #fff, 554px 779px #fff, 1633px 1318px #fff,
        164px 1788px #fff, 1229px 1677px #fff, 1279px 1318px #fff,
        1301px 1138px #fff, 303px 1357px #fff, 1587px 912px #fff, 243px 1839px #fff,
        388px 1752px #fff, 1458px 138px #fff, 98px 1928px #fff, 10px 318px #fff,
        883px 105px #fff, 1987px 1075px #fff, 716px 1685px #fff, 733px 1657px #fff,
        260px 1242px #fff, 1492px 413px #fff, 804px 923px #fff, 163px 226px #fff,
        79px 1113px #fff, 977px 539px #fff, 84px 359px #fff, 178px 1790px #fff,
        457px 1123px #fff, 99px 1167px #fff, 1676px 1001px #fff, 1855px 598px #fff,
        134px 1567px #fff, 1970px 1613px #fff, 1714px 1943px #fff, 287px 1689px #fff,
        140px 1257px #fff, 1885px 1847px #fff, 1646px 1987px #fff, 874px 1543px #fff,
        1772px 1514px #fff, 680px 412px #fff, 912px 168px #fff, 55px 1356px #fff,
        1378px 659px #fff, 1576px 772px #fff, 307px 213px #fff, 566px 94px #fff,
        296px 1709px #fff, 1463px 1724px #fff, 1724px 76px #fff, 101px 1189px #fff,
        1074px 475px #fff, 829px 1905px #fff, 1147px 549px #fff, 985px 461px #fff,
        1587px 531px #fff, 1713px 576px #fff, 1300px 233px #fff, 1982px 337px #fff,
        1821px 1985px #fff, 1786px 1935px #fff, 1251px 1859px #fff,
        1788px 1568px #fff, 301px 1542px #fff, 90px 1502px #fff, 254px 765px #fff,
        296px 1759px #fff, 1398px 146px #fff, 1989px 478px #fff, 1979px 1480px #fff,
        981px 1021px #fff, 1735px 697px #fff, 113px 1325px #fff, 837px 434px #fff,
        524px 963px #fff, 616px 1423px #fff, 1069px 417px #fff, 172px 245px #fff,
        515px 928px #fff, 1851px 410px #fff, 467px 1329px #fff, 317px 1244px #fff,
        1676px 83px #fff, 1188px 1664px #fff, 818px 1737px #fff, 1845px 326px #fff,
        250px 109px #fff, 1370px 553px #fff, 611px 517px #fff, 1002px 526px #fff,
        748px 1070px #fff, 314px 472px #fff, 1189px 393px #fff, 92px 417px #fff,
        137px 81px #fff, 1847px 49px #fff, 1562px 1193px #fff, 1776px 1646px #fff,
        397px 1388px #fff, 859px 394px #fff, 764px 1840px #fff, 2000px 1938px #fff,
        1368px 600px #fff, 926px 913px #fff, 919px 102px #fff, 414px 818px #fff,
        1212px 457px #fff, 1664px 1031px #fff, 682px 1287px #fff, 1981px 330px #fff,
        1858px 837px #fff, 1162px 1687px #fff, 1245px 1455px #fff, 1090px 527px #fff,
        329px 1332px #fff, 1284px 1240px #fff, 979px 205px #fff, 1101px 1393px #fff,
        443px 862px #fff, 1167px 880px #fff, 972px 1374px #fff, 1132px 1669px #fff,
        1120px 1640px #fff, 869px 797px #fff, 1648px 657px #fff, 603px 831px #fff,
        702px 1243px #fff, 1497px 1149px #fff, 400px 371px #fff, 1109px 1245px #fff,
        1322px 697px #fff, 565px 231px #fff, 1388px 1462px #fff, 980px 1758px #fff,
        699px 1092px #fff, 1787px 893px #fff, 1969px 1027px #fff, 1711px 427px #fff,
        1937px 127px #fff, 1529px 1447px #fff, 1449px 1926px #fff, 1169px 889px #fff,
        629px 125px #fff, 403px 1928px #fff, 210px 528px #fff, 1307px 1978px #fff,
        785px 970px #fff, 1613px 996px #fff, 1936px 1748px #fff, 513px 1227px #fff,
        346px 1309px #fff, 646px 1419px #fff, 188px 1727px #fff, 1465px 572px #fff,
        678px 98px #fff, 220px 1752px #fff, 214px 1938px #fff, 608px 1351px #fff,
        1233px 494px #fff, 1145px 1977px #fff, 930px 30px #fff, 1764px 1078px #fff,
        852px 1843px #fff, 1795px 1179px #fff, 992px 675px #fff, 65px 1598px #fff,
        1472px 1453px #fff, 1580px 1517px #fff, 712px 364px #fff, 562px 798px #fff,
        848px 1975px #fff, 1879px 475px #fff, 1028px 1105px #fff, 1488px 1328px #fff,
        1315px 1001px #fff, 1151px 873px #fff, 1008px 928px #fff, 1687px 212px #fff,
        639px 1734px #fff, 1449px 871px #fff, 1864px 815px #fff, 1164px 1525px #fff,
        1866px 5px #fff, 1584px 523px #fff, 501px 953px #fff, 1364px 397px #fff,
        245px 1843px #fff, 614px 1442px #fff, 396px 1132px #fff, 1930px 1747px #fff,
        1395px 1211px #fff, 567px 428px #fff, 652px 33px #fff, 1620px 1114px #fff,
        1697px 977px #fff, 206px 1284px #fff, 274px 699px #fff, 1008px 1001px #fff,
        924px 70px #fff, 1806px 116px #fff, 880px 1842px #fff, 959px 1847px #fff,
        792px 1756px #fff, 419px 1339px #fff, 503px 1792px #fff, 1833px 1065px #fff,
        99px 1064px #fff, 315px 523px #fff, 694px 1237px #fff, 1798px 505px #fff,
        334px 1416px #fff, 1748px 278px #fff, 853px 41px #fff, 394px 663px #fff,
        881px 1686px #fff, 318px 1376px #fff, 1848px 1790px #fff, 797px 1137px #fff,
        1895px 1010px #fff, 1134px 980px #fff, 227px 525px #fff, 1098px 305px #fff,
        1533px 1038px #fff, 962px 1814px #fff, 1926px 1475px #fff, 335px 308px #fff,
        272px 231px #fff, 1458px 1914px #fff, 693px 1253px #fff, 274px 1169px #fff,
        1798px 831px #fff, 1073px 316px #fff, 450px 1392px #fff, 865px 1087px #fff,
        1334px 694px #fff, 965px 1617px #fff, 782px 138px #fff, 1356px 1811px #fff,
        369px 568px #fff, 1151px 601px #fff, 128px 396px #fff, 1583px 1827px #fff,
        1281px 1150px #fff, 1558px 958px #fff, 1408px 15px #fff, 432px 350px #fff,
        126px 594px #fff, 242px 1319px #fff, 1865px 636px #fff, 184px 1941px #fff,
        642px 1591px #fff, 509px 805px #fff, 1371px 1763px #fff, 1621px 1004px #fff,
        1349px 728px #fff, 180px 692px #fff, 1174px 1490px #fff, 1829px 1340px #fff,
        1145px 1855px #fff, 1467px 44px #fff, 1722px 796px #fff, 826px 1070px #fff,
        1716px 118px #fff, 1874px 135px #fff, 1760px 1201px #fff, 1660px 1863px #fff,
        923px 1940px #fff, 1562px 1709px #fff, 1850px 281px #fff, 632px 1585px #fff,
        302px 1166px #fff, 1509px 833px #fff, 1023px 1157px #fff, 686px 1317px #fff,
        400px 1483px #fff, 1007px 1233px #fff, 613px 456px #fff, 1090px 1621px #fff,
        45px 1169px #fff, 1453px 792px #fff, 86px 1116px #fff, 307px 722px #fff,
        1877px 1025px #fff, 1506px 146px #fff, 752px 1104px #fff, 1287px 377px #fff,
        557px 650px #fff, 1219px 1850px #fff, 1777px 155px #fff, 1433px 154px #fff,
        1468px 1910px #fff, 539px 34px #fff, 1326px 607px #fff, 697px 1745px #fff,
        1731px 1005px #fff, 1821px 236px #fff, 687px 908px #fff, 178px 1075px #fff,
        1049px 207px #fff, 1878px 414px #fff, 1043px 1000px #fff, 1398px 1341px #fff,
        1913px 282px #fff, 1305px 776px #fff, 931px 909px #fff, 892px 186px #fff,
        1175px 803px #fff, 430px 232px #fff, 1170px 478px #fff, 427px 141px #fff,
        1709px 1287px #fff, 212px 940px #fff, 94px 1790px #fff, 1690px 1171px #fff,
        2px 1600px #fff, 552px 1937px #fff, 37px 1284px #fff;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1075px 1788px #fff, 1684px 958px #fff, 839px 1538px #fff,
        544px 763px #fff, 1577px 1141px #fff, 907px 50px #fff, 1010px 240px #fff,
        1802px 1049px #fff, 1679px 189px #fff, 507px 727px #fff, 821px 1237px #fff,
        1477px 664px #fff, 1002px 1158px #fff, 727px 1343px #fff, 284px 1587px #fff,
        291px 414px #fff, 85px 1463px #fff, 127px 1374px #fff, 1487px 107px #fff,
        1817px 1878px #fff, 1131px 1430px #fff, 310px 338px #fff, 1333px 1189px #fff,
        1523px 1468px #fff, 1500px 155px #fff, 1193px 1617px #fff, 233px 1399px #fff,
        384px 1190px #fff, 1566px 1618px #fff, 1167px 440px #fff, 140px 389px #fff,
        1109px 1317px #fff, 1268px 331px #fff, 1748px 266px #fff, 1493px 1941px #fff,
        1114px 368px #fff, 1315px 141px #fff, 290px 1529px #fff, 1537px 1517px #fff,
        1576px 139px #fff, 282px 831px #fff, 1693px 710px #fff, 1408px 1430px #fff,
        445px 1152px #fff, 428px 299px #fff, 1590px 1450px #fff, 1848px 1388px #fff,
        1737px 1686px #fff, 1979px 1166px #fff, 936px 1194px #fff, 1987px 440px #fff,
        1380px 25px #fff, 1569px 322px #fff, 1185px 718px #fff, 217px 1104px #fff,
        1079px 469px #fff, 1290px 1702px #fff, 170px 318px #fff, 48px 368px #fff,
        1707px 674px #fff, 1206px 582px #fff, 1125px 1945px #fff, 1600px 948px #fff,
        696px 1691px #fff, 739px 833px #fff, 117px 497px #fff, 1683px 1776px #fff,
        1890px 1627px #fff, 356px 1189px #fff, 1070px 1007px #fff, 1515px 964px #fff,
        1274px 29px #fff, 69px 1509px #fff, 962px 1372px #fff, 1823px 758px #fff,
        220px 201px #fff, 1766px 1960px #fff, 1492px 1920px #fff, 1533px 1493px #fff,
        1910px 1666px #fff, 1984px 1528px #fff, 80px 573px #fff, 5px 763px #fff,
        952px 908px #fff, 1382px 481px #fff, 1219px 119px #fff, 1321px 845px #fff,
        387px 75px #fff, 571px 657px #fff, 1228px 1899px #fff, 660px 1937px #fff,
        1408px 302px #fff, 1528px 1595px #fff, 1051px 1568px #fff, 610px 1731px #fff,
        1290px 1701px #fff, 1964px 1386px #fff, 1606px 1645px #fff, 626px 143px #fff,
        1432px 1494px #fff, 491px 243px #fff, 656px 1323px #fff, 1158px 31px #fff,
        1231px 1617px #fff, 64px 1014px #fff, 1835px 1198px #fff, 115px 1079px #fff,
        425px 826px #fff, 992px 1150px #fff, 875px 1812px #fff, 732px 1301px #fff,
        857px 436px #fff, 1060px 1588px #fff, 526px 691px #fff, 347px 1621px #fff,
        925px 794px #fff, 1970px 39px #fff, 1221px 167px #fff, 379px 1906px #fff,
        953px 1610px #fff, 1032px 1738px #fff, 626px 640px #fff, 1353px 1657px #fff,
        1296px 1738px #fff, 1620px 578px #fff, 811px 214px #fff, 1301px 24px #fff,
        1360px 846px #fff, 329px 1995px #fff, 1388px 1223px #fff, 1766px 1205px #fff,
        1271px 752px #fff, 1710px 227px #fff, 1980px 67px #fff, 873px 630px #fff,
        855px 555px #fff, 194px 1483px #fff, 1566px 1116px #fff, 595px 1734px #fff,
        1918px 1870px #fff, 826px 838px #fff, 329px 564px #fff, 421px 912px #fff,
        1068px 753px #fff, 7px 699px #fff, 1837px 157px #fff, 1437px 1442px #fff,
        1547px 107px #fff, 1763px 1352px #fff, 583px 320px #fff, 1554px 1377px #fff,
        549px 959px #fff, 1357px 218px #fff, 586px 404px #fff, 241px 915px #fff,
        597px 1669px #fff, 1008px 977px #fff, 776px 1476px #fff, 1529px 1990px #fff,
        182px 1095px #fff, 1386px 374px #fff, 1801px 551px #fff, 1573px 121px #fff,
        1312px 873px #fff, 677px 631px #fff, 546px 1964px #fff, 516px 344px #fff,
        2000px 1449px #fff, 1639px 1725px #fff, 1787px 1436px #fff, 495px 972px #fff,
        456px 492px #fff, 971px 1225px #fff, 1460px 1688px #fff, 1763px 675px #fff,
        645px 323px #fff, 658px 382px #fff, 935px 1697px #fff, 34px 801px #fff,
        1314px 1381px #fff, 1580px 757px #fff, 845px 1601px #fff, 13px 282px #fff,
        188px 434px #fff, 685px 1676px #fff, 224px 1599px #fff, 77px 1749px #fff,
        317px 349px #fff, 1190px 197px #fff, 736px 1795px #fff, 403px 1436px #fff,
        791px 911px #fff, 1966px 950px #fff, 950px 1369px #fff, 1170px 1821px #fff,
        200px 1316px #fff, 1021px 1705px #fff, 1938px 1663px #fff, 1968px 13px #fff,
        1983px 1125px #fff, 1107px 955px #fff, 1140px 1115px #fff, 562px 477px #fff,
        1096px 1156px #fff, 1875px 1417px #fff, 1547px 1794px #fff, 867px 440px #fff,
        1699px 487px #fff, 376px 1781px #fff, 737px 577px #fff, 438px 959px #fff,
        1564px 1515px #fff, 1591px 914px #fff, 1248px 17px #fff, 1695px 1674px #fff,
        1454px 1101px #fff, 1107px 1066px #fff, 1408px 1299px #fff,
        1726px 669px #fff, 424px 801px #fff, 1899px 1677px #fff, 1020px 526px #fff,
        1306px 121px #fff, 858px 136px #fff, 1503px 1693px #fff, 845px 525px #fff,
        1586px 425px #fff, 1195px 639px #fff, 291px 218px #fff, 206px 1740px #fff,
        643px 944px #fff, 1272px 743px #fff, 308px 205px #fff, 244px 388px #fff,
        625px 760px #fff, 279px 943px #fff, 1627px 1688px #fff, 1845px 1376px #fff,
        915px 1432px #fff, 1201px 1283px #fff, 1873px 955px #fff, 1877px 1037px #fff,
        1658px 810px #fff, 1867px 867px #fff, 58px 171px #fff, 855px 834px #fff,
        1928px 691px #fff, 907px 815px #fff, 1751px 246px #fff, 495px 300px #fff,
        1774px 1461px #fff, 1999px 949px #fff, 235px 442px #fff, 1712px 678px #fff,
        1764px 117px #fff, 1170px 779px #fff, 1879px 1048px #fff, 1612px 838px #fff,
        1102px 269px #fff, 235px 80px #fff, 727px 675px #fff, 1892px 1981px #fff,
        1799px 146px #fff, 160px 1559px #fff, 1719px 961px #fff, 458px 1683px #fff,
        582px 1689px #fff, 1447px 1105px #fff, 876px 1960px #fff, 141px 239px #fff,
        1382px 1035px #fff, 589px 1936px #fff, 186px 1661px #fff, 1553px 1982px #fff,
        307px 99px #fff, 829px 297px #fff, 933px 569px #fff, 1172px 1592px #fff,
        1169px 1004px #fff, 1517px 1213px #fff, 813px 1671px #fff, 1102px 152px #fff,
        1874px 1988px #fff, 778px 303px #fff, 382px 270px #fff, 796px 733px #fff,
        1169px 247px #fff, 1519px 1677px #fff, 1250px 1237px #fff,
        1383px 1516px #fff, 1397px 921px #fff, 856px 1414px #fff, 1856px 787px #fff,
        294px 1645px #fff, 793px 685px #fff, 608px 1641px #fff, 830px 1257px #fff,
        1460px 118px #fff, 1944px 1667px #fff, 1301px 774px #fff, 704px 74px #fff,
        579px 1925px #fff, 1422px 804px #fff, 1885px 1728px #fff, 167px 232px #fff,
        408px 1700px #fff, 198px 1100px #fff, 532px 1385px #fff, 252px 1522px #fff,
        974px 1385px #fff, 920px 999px #fff, 182px 1359px #fff, 477px 1344px #fff,
        746px 536px #fff, 304px 1127px #fff, 1815px 553px #fff, 611px 858px #fff,
        394px 669px #fff, 1004px 62px #fff, 1676px 1165px #fff, 1035px 690px #fff,
        366px 1122px #fff, 1116px 1314px #fff, 1950px 1899px #fff, 1272px 918px #fff,
        1869px 1451px #fff, 1952px 1174px #fff, 818px 263px #fff, 1515px 1810px #fff,
        540px 1095px #fff, 1507px 1120px #fff, 1559px 1822px #fff,
        1742px 1081px #fff, 1640px 351px #fff, 1483px 1484px #fff,
        1428px 1372px #fff, 1879px 623px #fff, 316px 1098px #fff, 875px 879px #fff,
        1032px 1861px #fff, 1134px 34px #fff, 752px 1284px #fff, 1598px 785px #fff,
        20px 1244px #fff, 1695px 352px #fff, 109px 733px #fff, 780px 1382px #fff,
        897px 1388px #fff, 253px 531px #fff, 486px 1916px #fff, 861px 1229px #fff,
        715px 456px #fff, 1156px 270px #fff, 1912px 1002px #fff, 1915px 89px #fff,
        1866px 834px #fff, 493px 1817px #fff, 430px 910px #fff, 1657px 512px #fff,
        1221px 1693px #fff, 620px 247px #fff, 299px 1413px #fff, 1532px 772px #fff,
        892px 344px #fff, 53px 845px #fff, 192px 1451px #fff, 383px 1455px #fff,
        6px 1302px #fff, 87px 804px #fff, 1130px 885px #fff, 1064px 1878px #fff,
        580px 1267px #fff, 1908px 1370px #fff, 1506px 1646px #fff, 1236px 206px #fff,
        352px 537px #fff, 214px 318px #fff, 1012px 27px #fff, 427px 1236px #fff,
        449px 343px #fff, 1704px 1795px #fff, 1143px 1213px #fff, 1433px 1456px #fff,
        1527px 1029px #fff, 1251px 763px #fff, 554px 779px #fff, 1633px 1318px #fff,
        164px 1788px #fff, 1229px 1677px #fff, 1279px 1318px #fff,
        1301px 1138px #fff, 303px 1357px #fff, 1587px 912px #fff, 243px 1839px #fff,
        388px 1752px #fff, 1458px 138px #fff, 98px 1928px #fff, 10px 318px #fff,
        883px 105px #fff, 1987px 1075px #fff, 716px 1685px #fff, 733px 1657px #fff,
        260px 1242px #fff, 1492px 413px #fff, 804px 923px #fff, 163px 226px #fff,
        79px 1113px #fff, 977px 539px #fff, 84px 359px #fff, 178px 1790px #fff,
        457px 1123px #fff, 99px 1167px #fff, 1676px 1001px #fff, 1855px 598px #fff,
        134px 1567px #fff, 1970px 1613px #fff, 1714px 1943px #fff, 287px 1689px #fff,
        140px 1257px #fff, 1885px 1847px #fff, 1646px 1987px #fff, 874px 1543px #fff,
        1772px 1514px #fff, 680px 412px #fff, 912px 168px #fff, 55px 1356px #fff,
        1378px 659px #fff, 1576px 772px #fff, 307px 213px #fff, 566px 94px #fff,
        296px 1709px #fff, 1463px 1724px #fff, 1724px 76px #fff, 101px 1189px #fff,
        1074px 475px #fff, 829px 1905px #fff, 1147px 549px #fff, 985px 461px #fff,
        1587px 531px #fff, 1713px 576px #fff, 1300px 233px #fff, 1982px 337px #fff,
        1821px 1985px #fff, 1786px 1935px #fff, 1251px 1859px #fff,
        1788px 1568px #fff, 301px 1542px #fff, 90px 1502px #fff, 254px 765px #fff,
        296px 1759px #fff, 1398px 146px #fff, 1989px 478px #fff, 1979px 1480px #fff,
        981px 1021px #fff, 1735px 697px #fff, 113px 1325px #fff, 837px 434px #fff,
        524px 963px #fff, 616px 1423px #fff, 1069px 417px #fff, 172px 245px #fff,
        515px 928px #fff, 1851px 410px #fff, 467px 1329px #fff, 317px 1244px #fff,
        1676px 83px #fff, 1188px 1664px #fff, 818px 1737px #fff, 1845px 326px #fff,
        250px 109px #fff, 1370px 553px #fff, 611px 517px #fff, 1002px 526px #fff,
        748px 1070px #fff, 314px 472px #fff, 1189px 393px #fff, 92px 417px #fff,
        137px 81px #fff, 1847px 49px #fff, 1562px 1193px #fff, 1776px 1646px #fff,
        397px 1388px #fff, 859px 394px #fff, 764px 1840px #fff, 2000px 1938px #fff,
        1368px 600px #fff, 926px 913px #fff, 919px 102px #fff, 414px 818px #fff,
        1212px 457px #fff, 1664px 1031px #fff, 682px 1287px #fff, 1981px 330px #fff,
        1858px 837px #fff, 1162px 1687px #fff, 1245px 1455px #fff, 1090px 527px #fff,
        329px 1332px #fff, 1284px 1240px #fff, 979px 205px #fff, 1101px 1393px #fff,
        443px 862px #fff, 1167px 880px #fff, 972px 1374px #fff, 1132px 1669px #fff,
        1120px 1640px #fff, 869px 797px #fff, 1648px 657px #fff, 603px 831px #fff,
        702px 1243px #fff, 1497px 1149px #fff, 400px 371px #fff, 1109px 1245px #fff,
        1322px 697px #fff, 565px 231px #fff, 1388px 1462px #fff, 980px 1758px #fff,
        699px 1092px #fff, 1787px 893px #fff, 1969px 1027px #fff, 1711px 427px #fff,
        1937px 127px #fff, 1529px 1447px #fff, 1449px 1926px #fff, 1169px 889px #fff,
        629px 125px #fff, 403px 1928px #fff, 210px 528px #fff, 1307px 1978px #fff,
        785px 970px #fff, 1613px 996px #fff, 1936px 1748px #fff, 513px 1227px #fff,
        346px 1309px #fff, 646px 1419px #fff, 188px 1727px #fff, 1465px 572px #fff,
        678px 98px #fff, 220px 1752px #fff, 214px 1938px #fff, 608px 1351px #fff,
        1233px 494px #fff, 1145px 1977px #fff, 930px 30px #fff, 1764px 1078px #fff,
        852px 1843px #fff, 1795px 1179px #fff, 992px 675px #fff, 65px 1598px #fff,
        1472px 1453px #fff, 1580px 1517px #fff, 712px 364px #fff, 562px 798px #fff,
        848px 1975px #fff, 1879px 475px #fff, 1028px 1105px #fff, 1488px 1328px #fff,
        1315px 1001px #fff, 1151px 873px #fff, 1008px 928px #fff, 1687px 212px #fff,
        639px 1734px #fff, 1449px 871px #fff, 1864px 815px #fff, 1164px 1525px #fff,
        1866px 5px #fff, 1584px 523px #fff, 501px 953px #fff, 1364px 397px #fff,
        245px 1843px #fff, 614px 1442px #fff, 396px 1132px #fff, 1930px 1747px #fff,
        1395px 1211px #fff, 567px 428px #fff, 652px 33px #fff, 1620px 1114px #fff,
        1697px 977px #fff, 206px 1284px #fff, 274px 699px #fff, 1008px 1001px #fff,
        924px 70px #fff, 1806px 116px #fff, 880px 1842px #fff, 959px 1847px #fff,
        792px 1756px #fff, 419px 1339px #fff, 503px 1792px #fff, 1833px 1065px #fff,
        99px 1064px #fff, 315px 523px #fff, 694px 1237px #fff, 1798px 505px #fff,
        334px 1416px #fff, 1748px 278px #fff, 853px 41px #fff, 394px 663px #fff,
        881px 1686px #fff, 318px 1376px #fff, 1848px 1790px #fff, 797px 1137px #fff,
        1895px 1010px #fff, 1134px 980px #fff, 227px 525px #fff, 1098px 305px #fff,
        1533px 1038px #fff, 962px 1814px #fff, 1926px 1475px #fff, 335px 308px #fff,
        272px 231px #fff, 1458px 1914px #fff, 693px 1253px #fff, 274px 1169px #fff,
        1798px 831px #fff, 1073px 316px #fff, 450px 1392px #fff, 865px 1087px #fff,
        1334px 694px #fff, 965px 1617px #fff, 782px 138px #fff, 1356px 1811px #fff,
        369px 568px #fff, 1151px 601px #fff, 128px 396px #fff, 1583px 1827px #fff,
        1281px 1150px #fff, 1558px 958px #fff, 1408px 15px #fff, 432px 350px #fff,
        126px 594px #fff, 242px 1319px #fff, 1865px 636px #fff, 184px 1941px #fff,
        642px 1591px #fff, 509px 805px #fff, 1371px 1763px #fff, 1621px 1004px #fff,
        1349px 728px #fff, 180px 692px #fff, 1174px 1490px #fff, 1829px 1340px #fff,
        1145px 1855px #fff, 1467px 44px #fff, 1722px 796px #fff, 826px 1070px #fff,
        1716px 118px #fff, 1874px 135px #fff, 1760px 1201px #fff, 1660px 1863px #fff,
        923px 1940px #fff, 1562px 1709px #fff, 1850px 281px #fff, 632px 1585px #fff,
        302px 1166px #fff, 1509px 833px #fff, 1023px 1157px #fff, 686px 1317px #fff,
        400px 1483px #fff, 1007px 1233px #fff, 613px 456px #fff, 1090px 1621px #fff,
        45px 1169px #fff, 1453px 792px #fff, 86px 1116px #fff, 307px 722px #fff,
        1877px 1025px #fff, 1506px 146px #fff, 752px 1104px #fff, 1287px 377px #fff,
        557px 650px #fff, 1219px 1850px #fff, 1777px 155px #fff, 1433px 154px #fff,
        1468px 1910px #fff, 539px 34px #fff, 1326px 607px #fff, 697px 1745px #fff,
        1731px 1005px #fff, 1821px 236px #fff, 687px 908px #fff, 178px 1075px #fff,
        1049px 207px #fff, 1878px 414px #fff, 1043px 1000px #fff, 1398px 1341px #fff,
        1913px 282px #fff, 1305px 776px #fff, 931px 909px #fff, 892px 186px #fff,
        1175px 803px #fff, 430px 232px #fff, 1170px 478px #fff, 427px 141px #fff,
        1709px 1287px #fff, 212px 940px #fff, 94px 1790px #fff, 1690px 1171px #fff,
        2px 1600px #fff, 552px 1937px #fff, 37px 1284px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1927px 712px #fff, 134px 445px #fff, 1876px 725px #fff,
        49px 1352px #fff, 1013px 1928px #fff, 1959px 102px #fff, 1240px 604px #fff,
        1127px 8px #fff, 1414px 1524px #fff, 916px 442px #fff, 443px 1740px #fff,
        658px 1650px #fff, 261px 1660px #fff, 1611px 1599px #fff, 1789px 1547px #fff,
        998px 1481px #fff, 932px 1902px #fff, 146px 1894px #fff, 393px 392px #fff,
        677px 1124px #fff, 947px 1993px #fff, 414px 1713px #fff, 466px 1285px #fff,
        179px 1524px #fff, 1597px 1885px #fff, 1901px 1768px #fff,
        1229px 1290px #fff, 1797px 527px #fff, 994px 1625px #fff, 1152px 562px #fff,
        1231px 857px #fff, 1655px 203px #fff, 9px 780px #fff, 1469px 1711px #fff,
        361px 1989px #fff, 604px 1504px #fff, 294px 1050px #fff, 1194px 1279px #fff,
        908px 1631px #fff, 1306px 419px #fff, 466px 232px #fff, 71px 1108px #fff,
        77px 1332px #fff, 118px 1732px #fff, 1103px 377px #fff, 1436px 1349px #fff,
        1821px 1270px #fff, 1047px 1898px #fff, 652px 668px #fff, 900px 1132px #fff,
        1868px 1684px #fff, 430px 1162px #fff, 1587px 291px #fff, 1942px 1150px #fff,
        1087px 394px #fff, 1149px 1788px #fff, 482px 1477px #fff, 548px 198px #fff,
        1057px 1050px #fff, 1765px 1106px #fff, 325px 240px #fff, 1352px 1347px #fff,
        915px 1571px #fff, 315px 1149px #fff, 341px 1560px #fff, 366px 888px #fff,
        896px 193px #fff, 618px 1091px #fff, 332px 1085px #fff, 392px 34px #fff,
        259px 1774px #fff, 1313px 1052px #fff, 680px 1019px #fff, 1747px 578px #fff,
        1810px 1740px #fff, 361px 171px #fff, 1963px 1746px #fff, 25px 798px #fff,
        1039px 1985px #fff, 1135px 937px #fff, 1011px 1822px #fff,
        1301px 1256px #fff, 275px 944px #fff, 526px 68px #fff, 475px 134px #fff,
        1496px 1222px #fff, 1246px 316px #fff, 1958px 287px #fff, 1178px 1328px #fff,
        482px 1853px #fff, 995px 1822px #fff, 1824px 599px #fff, 1816px 894px #fff,
        1853px 396px #fff, 1832px 181px #fff, 312px 972px #fff, 397px 1745px #fff,
        1312px 579px #fff, 1454px 1921px #fff, 1793px 914px #fff, 65px 433px #fff,
        559px 919px #fff, 1655px 823px #fff, 46px 393px #fff, 1295px 1066px #fff,
        287px 1694px #fff, 279px 314px #fff, 1617px 1660px #fff, 1058px 641px #fff,
        1804px 1368px #fff, 1001px 1263px #fff, 255px 1216px #fff,
        1193px 1568px #fff, 330px 274px #fff, 732px 941px #fff, 992px 837px #fff,
        1869px 209px #fff, 458px 1060px #fff, 674px 1148px #fff, 239px 1584px #fff,
        769px 1182px #fff, 613px 1833px #fff, 312px 1206px #fff, 1830px 928px #fff,
        1341px 1766px #fff, 1369px 1889px #fff, 1112px 180px #fff,
        1514px 1929px #fff, 171px 672px #fff, 225px 1118px #fff, 1743px 1111px #fff,
        273px 251px #fff, 709px 213px #fff, 657px 326px #fff, 715px 1196px #fff,
        900px 628px #fff, 759px 1056px #fff, 719px 634px #fff, 1005px 660px #fff,
        841px 624px #fff, 1803px 1211px #fff, 1194px 1963px #fff, 83px 1719px #fff,
        1156px 83px #fff, 117px 1871px #fff, 101px 1785px #fff, 947px 1629px #fff,
        1866px 1152px #fff, 562px 236px #fff, 1380px 1193px #fff, 1160px 1714px #fff,
        801px 1634px #fff, 1198px 1061px #fff, 597px 358px #fff, 919px 461px #fff,
        1075px 1603px #fff, 1293px 1649px #fff, 585px 1601px #fff,
        1603px 1461px #fff, 131px 1411px #fff, 443px 1869px #fff, 1022px 1215px #fff,
        66px 494px #fff, 625px 1517px #fff, 115px 1223px #fff, 706px 891px #fff,
        670px 769px #fff, 1865px 344px #fff, 1193px 284px #fff, 761px 548px #fff,
        1453px 932px #fff, 801px 1432px #fff, 1179px 955px #fff, 668px 1164px #fff,
        842px 1874px #fff, 865px 1075px #fff, 1996px 1936px #fff, 776px 1130px #fff,
        296px 811px #fff, 1566px 1671px #fff, 999px 169px #fff, 150px 1434px #fff,
        1056px 1520px #fff, 1997px 905px #fff, 1540px 592px #fff, 957px 1495px #fff,
        446px 1126px #fff, 475px 1402px #fff, 17px 1587px #fff, 1743px 143px #fff,
        1657px 1469px #fff, 1146px 886px #fff, 310px 539px #fff, 1478px 364px #fff,
        895px 9px #fff, 1877px 465px #fff, 829px 144px #fff, 1085px 966px #fff,
        964px 1480px #fff, 1975px 1830px #fff;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1927px 712px #fff, 134px 445px #fff, 1876px 725px #fff,
        49px 1352px #fff, 1013px 1928px #fff, 1959px 102px #fff, 1240px 604px #fff,
        1127px 8px #fff, 1414px 1524px #fff, 916px 442px #fff, 443px 1740px #fff,
        658px 1650px #fff, 261px 1660px #fff, 1611px 1599px #fff, 1789px 1547px #fff,
        998px 1481px #fff, 932px 1902px #fff, 146px 1894px #fff, 393px 392px #fff,
        677px 1124px #fff, 947px 1993px #fff, 414px 1713px #fff, 466px 1285px #fff,
        179px 1524px #fff, 1597px 1885px #fff, 1901px 1768px #fff,
        1229px 1290px #fff, 1797px 527px #fff, 994px 1625px #fff, 1152px 562px #fff,
        1231px 857px #fff, 1655px 203px #fff, 9px 780px #fff, 1469px 1711px #fff,
        361px 1989px #fff, 604px 1504px #fff, 294px 1050px #fff, 1194px 1279px #fff,
        908px 1631px #fff, 1306px 419px #fff, 466px 232px #fff, 71px 1108px #fff,
        77px 1332px #fff, 118px 1732px #fff, 1103px 377px #fff, 1436px 1349px #fff,
        1821px 1270px #fff, 1047px 1898px #fff, 652px 668px #fff, 900px 1132px #fff,
        1868px 1684px #fff, 430px 1162px #fff, 1587px 291px #fff, 1942px 1150px #fff,
        1087px 394px #fff, 1149px 1788px #fff, 482px 1477px #fff, 548px 198px #fff,
        1057px 1050px #fff, 1765px 1106px #fff, 325px 240px #fff, 1352px 1347px #fff,
        915px 1571px #fff, 315px 1149px #fff, 341px 1560px #fff, 366px 888px #fff,
        896px 193px #fff, 618px 1091px #fff, 332px 1085px #fff, 392px 34px #fff,
        259px 1774px #fff, 1313px 1052px #fff, 680px 1019px #fff, 1747px 578px #fff,
        1810px 1740px #fff, 361px 171px #fff, 1963px 1746px #fff, 25px 798px #fff,
        1039px 1985px #fff, 1135px 937px #fff, 1011px 1822px #fff,
        1301px 1256px #fff, 275px 944px #fff, 526px 68px #fff, 475px 134px #fff,
        1496px 1222px #fff, 1246px 316px #fff, 1958px 287px #fff, 1178px 1328px #fff,
        482px 1853px #fff, 995px 1822px #fff, 1824px 599px #fff, 1816px 894px #fff,
        1853px 396px #fff, 1832px 181px #fff, 312px 972px #fff, 397px 1745px #fff,
        1312px 579px #fff, 1454px 1921px #fff, 1793px 914px #fff, 65px 433px #fff,
        559px 919px #fff, 1655px 823px #fff, 46px 393px #fff, 1295px 1066px #fff,
        287px 1694px #fff, 279px 314px #fff, 1617px 1660px #fff, 1058px 641px #fff,
        1804px 1368px #fff, 1001px 1263px #fff, 255px 1216px #fff,
        1193px 1568px #fff, 330px 274px #fff, 732px 941px #fff, 992px 837px #fff,
        1869px 209px #fff, 458px 1060px #fff, 674px 1148px #fff, 239px 1584px #fff,
        769px 1182px #fff, 613px 1833px #fff, 312px 1206px #fff, 1830px 928px #fff,
        1341px 1766px #fff, 1369px 1889px #fff, 1112px 180px #fff,
        1514px 1929px #fff, 171px 672px #fff, 225px 1118px #fff, 1743px 1111px #fff,
        273px 251px #fff, 709px 213px #fff, 657px 326px #fff, 715px 1196px #fff,
        900px 628px #fff, 759px 1056px #fff, 719px 634px #fff, 1005px 660px #fff,
        841px 624px #fff, 1803px 1211px #fff, 1194px 1963px #fff, 83px 1719px #fff,
        1156px 83px #fff, 117px 1871px #fff, 101px 1785px #fff, 947px 1629px #fff,
        1866px 1152px #fff, 562px 236px #fff, 1380px 1193px #fff, 1160px 1714px #fff,
        801px 1634px #fff, 1198px 1061px #fff, 597px 358px #fff, 919px 461px #fff,
        1075px 1603px #fff, 1293px 1649px #fff, 585px 1601px #fff,
        1603px 1461px #fff, 131px 1411px #fff, 443px 1869px #fff, 1022px 1215px #fff,
        66px 494px #fff, 625px 1517px #fff, 115px 1223px #fff, 706px 891px #fff,
        670px 769px #fff, 1865px 344px #fff, 1193px 284px #fff, 761px 548px #fff,
        1453px 932px #fff, 801px 1432px #fff, 1179px 955px #fff, 668px 1164px #fff,
        842px 1874px #fff, 865px 1075px #fff, 1996px 1936px #fff, 776px 1130px #fff,
        296px 811px #fff, 1566px 1671px #fff, 999px 169px #fff, 150px 1434px #fff,
        1056px 1520px #fff, 1997px 905px #fff, 1540px 592px #fff, 957px 1495px #fff,
        446px 1126px #fff, 475px 1402px #fff, 17px 1587px #fff, 1743px 143px #fff,
        1657px 1469px #fff, 1146px 886px #fff, 310px 539px #fff, 1478px 364px #fff,
        895px 9px #fff, 1877px 465px #fff, 829px 144px #fff, 1085px 966px #fff,
        964px 1480px #fff, 1975px 1830px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1463px 1391px #fff, 1520px 1955px #fff, 1561px 905px #fff,
        1943px 1606px #fff, 417px 1027px #fff, 1381px 1497px #fff,
        1365px 1337px #fff, 1278px 1677px #fff, 939px 1834px #fff,
        1267px 1447px #fff, 30px 525px #fff, 1060px 382px #fff, 878px 363px #fff,
        454px 646px #fff, 1921px 1786px #fff, 1511px 337px #fff, 1093px 317px #fff,
        1722px 772px #fff, 933px 1739px #fff, 1058px 668px #fff, 1332px 457px #fff,
        363px 330px #fff, 1849px 482px #fff, 605px 1151px #fff, 305px 1264px #fff,
        995px 1720px #fff, 1537px 971px #fff, 286px 216px #fff, 605px 690px #fff,
        889px 2px #fff, 746px 95px #fff, 1047px 754px #fff, 786px 1776px #fff,
        1089px 1375px #fff, 1029px 1755px #fff, 7px 1937px #fff, 322px 514px #fff,
        410px 887px #fff, 737px 1327px #fff, 1767px 1570px #fff, 219px 1321px #fff,
        811px 1643px #fff, 629px 180px #fff, 824px 42px #fff, 1860px 972px #fff,
        1732px 1422px #fff, 1880px 1065px #fff, 429px 314px #fff, 176px 1199px #fff,
        93px 66px #fff, 1454px 1558px #fff, 483px 545px #fff, 811px 1865px #fff,
        1110px 683px #fff, 1871px 942px #fff, 1065px 181px #fff, 1694px 254px #fff,
        1001px 1403px #fff, 1820px 99px #fff, 405px 705px #fff, 1715px 358px #fff,
        17px 797px #fff, 134px 253px #fff, 920px 43px #fff, 1194px 362px #fff,
        1599px 1838px #fff, 656px 1175px #fff, 397px 1461px #fff, 162px 1519px #fff,
        114px 985px #fff, 641px 1678px #fff, 1207px 1887px #fff, 1059px 267px #fff,
        1000px 1781px #fff, 1132px 783px #fff, 1605px 707px #fff, 1572px 63px #fff,
        720px 652px #fff, 358px 1732px #fff, 478px 497px #fff, 466px 1702px #fff,
        886px 1951px #fff, 567px 1545px #fff, 1628px 1957px #fff, 511px 82px #fff,
        1013px 1660px #fff, 1212px 1227px #fff, 661px 1329px #fff,
        1119px 1566px #fff, 845px 1406px #fff, 1079px 1046px #fff,
        1190px 1675px #fff, 1254px 1372px #fff, 690px 1896px #fff,
        1958px 1984px #fff, 292px 1880px #fff, 421px 1153px #fff, 1405px 936px #fff,
        1671px 811px #fff, 322px 862px #fff;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1463px 1391px #fff, 1520px 1955px #fff, 1561px 905px #fff,
        1943px 1606px #fff, 417px 1027px #fff, 1381px 1497px #fff,
        1365px 1337px #fff, 1278px 1677px #fff, 939px 1834px #fff,
        1267px 1447px #fff, 30px 525px #fff, 1060px 382px #fff, 878px 363px #fff,
        454px 646px #fff, 1921px 1786px #fff, 1511px 337px #fff, 1093px 317px #fff,
        1722px 772px #fff, 933px 1739px #fff, 1058px 668px #fff, 1332px 457px #fff,
        363px 330px #fff, 1849px 482px #fff, 605px 1151px #fff, 305px 1264px #fff,
        995px 1720px #fff, 1537px 971px #fff, 286px 216px #fff, 605px 690px #fff,
        889px 2px #fff, 746px 95px #fff, 1047px 754px #fff, 786px 1776px #fff,
        1089px 1375px #fff, 1029px 1755px #fff, 7px 1937px #fff, 322px 514px #fff,
        410px 887px #fff, 737px 1327px #fff, 1767px 1570px #fff, 219px 1321px #fff,
        811px 1643px #fff, 629px 180px #fff, 824px 42px #fff, 1860px 972px #fff,
        1732px 1422px #fff, 1880px 1065px #fff, 429px 314px #fff, 176px 1199px #fff,
        93px 66px #fff, 1454px 1558px #fff, 483px 545px #fff, 811px 1865px #fff,
        1110px 683px #fff, 1871px 942px #fff, 1065px 181px #fff, 1694px 254px #fff,
        1001px 1403px #fff, 1820px 99px #fff, 405px 705px #fff, 1715px 358px #fff,
        17px 797px #fff, 134px 253px #fff, 920px 43px #fff, 1194px 362px #fff,
        1599px 1838px #fff, 656px 1175px #fff, 397px 1461px #fff, 162px 1519px #fff,
        114px 985px #fff, 641px 1678px #fff, 1207px 1887px #fff, 1059px 267px #fff,
        1000px 1781px #fff, 1132px 783px #fff, 1605px 707px #fff, 1572px 63px #fff,
        720px 652px #fff, 358px 1732px #fff, 478px 497px #fff, 466px 1702px #fff,
        886px 1951px #fff, 567px 1545px #fff, 1628px 1957px #fff, 511px 82px #fff,
        1013px 1660px #fff, 1212px 1227px #fff, 661px 1329px #fff,
        1119px 1566px #fff, 845px 1406px #fff, 1079px 1046px #fff,
        1190px 1675px #fff, 1254px 1372px #fff, 690px 1896px #fff,
        1958px 1984px #fff, 292px 1880px #fff, 421px 1153px #fff, 1405px 936px #fff,
        1671px 811px #fff, 322px 862px #fff;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}