.home .main--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .ias {
    transform: translateX(237px);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    font-size: 50px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.home .toggle1 {
    transform: translateX(0);
}

.home li {
    list-style: none;
    margin: 20% 0;
    cursor: pointer;
    font-size: 30px;
    justify-content: space-evenly;
}

.home .sidebar {
    position: fixed;
    z-index: 1;
    padding: 20px;
    width: 200px;
    height: 100vh;
    background-color: #100f0f;
    color: white;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}

.home a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.home a:hover {
    color: #03dbc7;
}

.home .a #active {
    color: #03dbc7;
}

.home .icon {
    z-index: 2;
    font-size: 45px;
    transition: all 0.4s ease-in-out;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    color: #03dbc7;
    margin: 10px;
}

.home .toggle2 {
    transform: translateX(-300px);
}

.home .toggle1 {
    transform: translateX(0);
}

.home .logo {
    display: block;
    float: left;
    position: fixed;
    width: 100%;
    height: 5%;
    margin-bottom: 10%;
}

.home .ias {
    display: block;
    position: fixed;
    float: left;
    height: 10px;
    width: 10px;
}

.home .ias>img {
    width: 100px;
    height: 80px;
}

.home .wie {
    display: block;
    position: relative;
    float: right;
    height: 20px;
    width: 10%;
}

.home .wie>img {
    width: 100px;
    height: 80px;
}

.home .content {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    font-size: 40px;
    color: #03dbc7;
    font-family: Josefin Sans;
    text-align: center;
}

.home .sub-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 40px;
}

.home .span-text {
    margin-right: 15px;
    margin-left: 15px;
}

.home .time-text {
    color: #03dbc7;
}

.home .content-code {
    background: linear-gradient(to right,
            #e40b60 34.65%,
            rgba(255, 255, 255, 0.546875) 52.23%,
            #e40b60 72.49%);

    background-clip: text;
    fill: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home .time-detail {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
    font-style: bold;
    font-family: "Roboto";
    color: #e40b60;
}

.home .btn {
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 112px;
    color: black;
    background-color: #00fdef;
    font-weight: bold;
    font-size: 20px;
    margin: 4px 10px;
    cursor: pointer;
}