#time {
    display: flex;
    margin: 2% auto;
    justify-content: space-around;
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    --clr: red;

}

#time .circle .text-date {
    color: white;
    position: absolute;
    left: -100px;
}

#time .circle .time-date {
    color: white;
    position: absolute;
}

#time .circle svg {
    position: relative;
    width: 150px;
    width: 150px;
    transform: rotate(-90deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

@media (max-width: 878px){
    #time .circle {
        transform: scale(0.8);
    }
}

@media (max-width: 654px){
    #time .circle {
        transform: scale(0.6);
    }
}

@media (max-width: 752px){
    #time {
        transform: scale(0.8);
    }
    #time .circle {
        transform: scale(0.8);
    }
}

@media (max-width: 500px){
    #time {
        transform: scale(0.6);
    }
    #time .circle {
        transform: scale(0.8);
    }
}