#time {
    display: flex;
    gap: 50px;
}

#time.circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time div {
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#time .circle div {
    color: white;
    position: absolute;
    top: 53px;
    left: 58px;
}

#time.circle svg {
    position: relative;
    width: 150px;
    width: 150px;
    transform: rotate(180deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}